.nav-item{
    margin: 0 10px !important;
}
.group-btn-access{
    margin-right: 30px !important;
}
.content-center {
    justify-content: center !important;
    align-items: center !important;
}

.width-100{
    width: 100% !important;
}

.single-slider {
    position: relative;
    left: 0px;
    top: 0px;
    z-index: 999;
    opacity: 1;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.hero__caption h1 {
    font-size: 80px;
    font-weight: 900;
    color: #28395a;
    line-height: 1.2;
}

#search-form-home{
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.slider-footer {
    background: url("../../assets/img/footer_bg.jpg") no-repeat #111316;
    background-size: cover;
    padding-top: 197px;
    padding-bottom: 136px;
    color: #fff;
    overflow: hidden;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 500;
}

.p-m {
    padding: 0 15px 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.first-card {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
}

    .first-card .email {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        line-height: 38px;
        color: #f44029;
        margin-top: 46px;
    }

        .first-card .email a {
            color: #f44029;
        }

            .first-card .email a:hover {
                color: #fff;
                text-decoration: none;
            }

        .first-card .email i {
            font-size: 30px;
        }

.second-card {
    margin-left: 8.33%;
}

    .second-card ul {
        margin-top: 8px;
    }

        .second-card ul li.active, .second-card ul li:hover {
            color: #f44029;
        }

        .second-card ul li {
            font-size: 24px;
            line-height: 24px;
        }

            .second-card ul li + li {
                margin-top: 18px;
            }

            .second-card ul li a {
                color: inherit;
                text-decoration: none;
            }

.third-card {
    display: flex;
    flex-direction: column;
}

    .third-card p {
        margin-top: 55px;
        text-align: center;
        font-size: 17px;
        line-height: 20px;
        font-style: normal;
    }

        .third-card p .line {
            height: 31px;
            width: 1px;
            background: rgba(255, 255, 255, 0.54);
            display: inline-block;
            margin: 0 9px;
            position: relative;
            top: 10px;
        }

        .third-card p a {
            font: inherit;
            color: inherit;
        }

            .third-card p a:hover {
                color: #f44029;
                text-decoration: none;
            }

.list-icon {
    margin-top: 7px;
    display: flex;
}

    .list-icon li {
        list-style: none;
        margin: 0 4px;
    }

        .list-icon li a {
            display: inline-block;
            border-radius: 50%;
            color: #fff;
            width: 76px;
            height: 76px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            text-align: center;
        }

            .list-icon li a i {
                font-size: 24px;
                line-height: 76px;
            }

            .list-icon li a:hover {
                animation-name: anm;
                animation-duration: 0.6s;
                animation-fill-mode: both;
                background-color: #fff;
                color: #f44029;
            }


.select-form {
    padding: 10px;
    align-items: center;
    background-color: #fff;
    cursor: pointer;
    border-radius: 6px;
    position: relative;
    justify-content: space-around;
    width: -webkit-fill-available;
}

.option-select {
    background-color: #fff;
    border-radius: 6px;
    margin-top: 5px;
    box-shadow: 0 2px 6px 4px rgba(220, 220, 220, 0.8);
    position: absolute;
    z-index: 99;
    width: 200px;
}

.ul-select{
    margin-bottom: 0;
}

.option-select {
    display: none;
    top: 45px;
    min-width: -webkit-fill-available;
    left: 0;
}
.show {
    display: block !important;
}

.result-option {
    white-space: nowrap; /* Ngăn chặn văn bản xuống dòng */
    overflow: hidden; /* Ẩn nội dung vượt ra ngoài khung */
    text-overflow: ellipsis;
}
  
.ul-select li {
    padding: 10px;
    cursor: pointer;
}

.ul-select li:hover,.ul-select li.selected{
    background-color: #f4f5f5
}

::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 10px;
}


.motaCT {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.active {
   color: #feb696;
}
