.btn-profile {
    display: flex;
    margin-right: 100px !important;
    align-items: center;
    background-color: #fff;
    position: relative;
    outline: none !important;
    cursor: pointer;
}

.nav-profile-img {
    margin-right: 15px;
}

.nav-profile-text {
    vertical-align: middle;
    margin-right: 6px;
}

    .nav-profile-text > p {
        margin-bottom: 0 !important;
    }

.ul-cai-dat {
    position: absolute;
    display: none;
    background-color: #fff;
    box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    top: 75px;
    border-radius: 5px;
    cursor: pointer;
    color: #000 !important;
    min-width: fit-content;
}

.show {
    display: block;
}
.btn-li {
    text-decoration: none !important;
    padding: 12px 20px;
    display: inline-block;
    top: 0;
    color: #000;
    width: -webkit-fill-available;
}

.btn-li:hover {
    background-color: #e9ecef !important;
    color: var(--blue) !important;
}
i.fa-chevron-down.hide, i.fa-chevron-up {
    display: none;
}

.fa-chevron-up.show {
    display: block;
}

.avatar {
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
}

.background-caidat {
    background-image: linear-gradient(to bottom, #f2edf3 0%, #f2edf3 100%);
    position: relative; /* Thêm dòng này */
    min-height: 100vh;
    padding: 35px;
}
.hover-bg:hover{
    background-color: #f0f0f0; /* Thay đổi màu nền khi hover */
    box-shadow: 0 4px 12px 6px rgba(200, 200, 200, 1); /* Tăng độ bóng để nổi bật hơn */
    transform: scale(1.02); /* Tăng kích thước nhẹ để nổi bật */
}

i{
    width: 20px;
    height: 20px;
}

.hide-text {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}
