@model DoAnNet7_2.Models.Tinhthanh
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ThemTinhThanh";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="border-content col-md-6">
    <h4>Tỉnh thành</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="ThemTinhThanh" asp-controller="TinhThanh" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Tentt" class="control-label">Tên tỉnh thành
                        (<span style="color: red">*</span>)
                    </label>
                    <input asp-for="Tentt" class="form-control mt1" required/>
                    <span asp-validation-for="Tentt" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <input type="submit" value="Thêm mới" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="mt2">
    <a class="btn btn-return" asp-action="DSTinhThanh" asp-controller="TinhThanh">Quay về</a>
</div>

<style>
    .mt1{
        margin-top: 10px;
    }

    .mt2 {
        margin-top: 20px;
    }
</style>
