@model X.PagedList.IPagedList<DoAnNet7_2.Models.Baituyendung>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DSBTDNTD";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}

<div class="border-content col-md-12">
    <h1>Danh sách bài tuyển dụng của @ViewBag.Ho_Ten</h1>
    <input type="hidden" id="idTK" value="@ViewBag.idTK" />

    <div class="row mt2" style="align-items: center; justify-content: space-between">
        <p class="col-md-3">
            <a class="btn btn-success" asp-action="ThemBTDNTD" asp-controller="NhaTuyenDung">Thêm mới</a>
        </p>
        <form id="search-form" class="col-md-9" style="display: flex">
            <input type="search" class="form-control" placeholder="Tên công việc, ngành nghề..." id="searchItem">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    </div>
    <div id="btd_search">
        @Html.Partial("_DSBTDNTDPartial", Model)
    </div>
</div>
<script>
    // Bắt sự kiện khi form submit
    $('#search-form').submit(function (event) {
        // Ngăn chặn hành vi mặc định của form submit
        event.preventDefault();

        // Lấy giá trị của input tìm kiếm
        var searchTerm = $('#searchItem').val();
        //var idTK = $('#idTK').val();

        // Gọi hàm loadData để gửi yêu cầu Ajax và cập nhật dữ liệu
        loadData(1, searchTerm);
    });


    function loadData(page, searchTerm) {
        $.ajax({
            url: "@Url.Action("DSBTDNTD", "NhaTuyenDung")?page=" + page + "&searchTerm=" + searchTerm, // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
            type: 'GET', // Phương thức HTTP để lấy dữ liệu
            data: {page: page, searchTerm: searchTerm }, // Các tham số để truyền cho hành động lấy dữ liệu
            success: function (data) {
                $('#btd_search').html(data); // Cập nhật nội dung của bảng dữ liệu trong trang web
            }
        });
    }

</script>
