@model DoAnNet7_2.Models.Anhdaidien
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaAnhDDNTD";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}

<div class="border-content col-md-8">

    <h1>Đổi ảnh</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form id="editForm" asp-action="SuaAnhDDNTD" asp-controller="NhaTuyenDung" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdAnhdd" />
                <div class="form-group">
                    <label asp-for="UpAnhDaiDien" class="control-label"></label>
                    <input asp-for="UpAnhDaiDien" type="file" class="form-control mt1 custom-input-btn" onchange="previewImage(this)" />
                    <span asp-validation-for="UpAnhDaiDien" class="text-danger"></span>
                </div>
                <div class="form-group mt2 row" style="justify-content: space-between;">
                    <div class="col-4">
                        <p class="control-label">Ảnh hiện tại</p>
                        <img asp-for="Tenanh" class="mt2" src="@Model.Tenanh" alt="Ảnh đại diện" style="max-width: 200px; max-height: 200px;" />
                    </div>
                    <div class="col-4">
                        <p class="control-label">Ảnh mới</p>
                        <img class="mt2" id="AnhDaiDienPreview" src="#" alt="Ảnh đại diện" style="display: none; max-width: 200px; max-height: 200px;">
                    </div>
                </div>
                <input type="hidden" asp-for="IdTk" />
                <div class="form-group mt2">
                    @*<input type="submit" value="Lưu" class="btn btn-success" />*@
                    <button type="button" id="submitBtn" class="btn btn-success">Lưu</button>
                    <a class="btn btn-danger" asp-controller="CaiDatTaiKhoanNTD" asp-action="NhaTuyenDung">Huỷ</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal xác nhận sửa -->
<div id="confirmModal" class="modal" aria-hidden="true">
    <div class="modal-content">
        <div class="display: flex; justify-content: end">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="title-warning">
            <i class="fa-solid fa-triangle-exclamation" style="font-size: 20pt"></i>
            <h3 style="margin-left: 10px !important" class="confirm-message">Bạn có chắc chắn muốn sửa?</h3>
        </div>
        <p class="mt2" style="font-size: 16pt; margin-left: 20px; margin-right: 20px">
            Thông tin ảnh sẽ được sửa. Bạn chắc chắn muốn sửa ảnh này?
        </p>
        <div class="button-container">
            <button id="confirmBtn" class="confirm">
                Đồng ý
            </button>
            <button id="cancelBtn" class="cancel">Huỷ bỏ</button>
        </div>
    </div>
</div>
<script>
    $('#submitBtn').click(function () {
        $('#confirmModal').modal('show');
    });

    $('#confirmBtn').click(function () {
        // Đóng modal xác nhận
        $('#confirmModal').modal('hide');
        $('#editForm').submit();
    });

    // Xử lý kết quả sau khi submit form
    $(function () {
        var messageType = '@ViewBag.MessageType';
        var message = '@ViewBag.Message';

        if (messageType !== '') {
            Swal.fire({
                icon: messageType,
                title: message,
                showConfirmButton: false,
                timer: 1500 //
            }).then(function () {
                // Chuyển hướng sau khi hiển thị thông điệp
                if (messageType === 'success') {
                    window.location.href = '@Url.Action("CaiDatTaiKhoanNTD", "NhaTuyenDung")';
                }
            });
        }
    });
    // Xử lý sự kiện khi người dùng nhấn nút "Huỷ bỏ"
    $('#cancelBtn').click(function () {
        $('#confirmModal').modal('hide'); // Đóng modal xác nhận
    });
</script>
<script>
    function previewImage(input) {
        var preview = document.getElementById('AnhDaiDienPreview');
        var file = input.files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
            preview.style.display = 'block';
        };

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = '#';
            preview.style.display = 'none';
        }
    }
</script>
