@model DoAnNet7_2.Models.Baituyendung
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaBTD";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}

<div class="border-content col-md-8">
    <h1>Sửa bài tuyển dụng</h1>

    <hr />
    <div class="row">
        <div class="col-md-12">
            <form id="editForm" asp-action="SuaBTDNTD" asp-controller="NhaTuyenDung" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="IdBtd" />
                <div class="form-group">
                    <label asp-for="Tencongviec" class="control-label">
                        Tên công việc
                        (<span style="color: red">*</span>)
                    </label>
                    <input asp-for="Tencongviec" class="form-control mt1" required />
                    <span asp-validation-for="Tencongviec" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Diachi" class="control-label">Địa điểm làm việc
                        (<span style="color: red">*</span>)
                    </label>
                    <input asp-for="Diachi" class="form-control mt1" required/>
                    <span asp-validation-for="Diachi" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Thoigianlamviec" class="control-label">
                        Thời gian làm việc
                        (<span style="color: red">*</span>)
                    </label>
                    <input asp-for="Thoigianlamviec" class="form-control mt1" required />
                    <span asp-validation-for="Thoigianlamviec" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTt" class="control-label"></label>
                    <select asp-for="IdTt" class="form-control mt1" asp-items="ViewBag.IdTt" required></select>
                    <span asp-validation-for="IdTt" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdLcv" class="control-label">
                        Loại công việc
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdLcv" class="form-control mt1" asp-items="ViewBag.IdLcv" required></select>
                    <span asp-validation-for="IdLcv" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdLuong" class="control-label">
                        Mức lương
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdLuong" class="form-control mt1" asp-items="ViewBag.IdLuong" required></select>
                    <span asp-validation-for="IdLuong" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdNn" class="control-label">
                        Ngành nghề
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdNn" class="form-control mt1" asp-items="ViewBag.IdNn" required></select>
                    <span asp-validation-for="IdNn" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Motacongviec" class="control-label">
                        Mô tả công việc
                        (<span style="color: red">*</span>)
                    </label>
                    <textarea asp-for="Motacongviec" class="form-control mt1 minht200" id="moTaCongViec"></textarea>
                    <span asp-validation-for="Motacongviec" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTgkn" class="control-label">
                        Yêu cầu kinh nghiệm
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdTgkn" class="form-control mt1" asp-items="ViewBag.IdTgkn" required></select>
                    <span asp-validation-for="IdTgkn" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Yeucaukhac" class="control-label">
                        Yêu cầu khác
                        (<span style="color: red">*</span>)
                    </label>
                    <textarea asp-for="Yeucaukhac" class="form-control mt1 minht150" id="yeuCauKhac"></textarea>
                    <span asp-validation-for="Yeucaukhac" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Quyenloi" class="control-label">
                        Quyền lợi
                        (<span style="color: red">*</span>)
                    </label>
                    <textarea asp-for="Quyenloi" class="form-control mt1 minht200" id="quyenLoi"></textarea>
                    <span asp-validation-for="Quyenloi" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="Hannopcv" class="control-label">
                        Hạn nộp hồ sơ
                        (<span style="color: red">*</span>)
                    </label>
                    <input style="position: relative; cusor: auto !important" asp-for="Hannopcv" type="text" class="form-control mt1" id="hannopcv" readonly placeholder="dd/mm/yyyy" />
                    <i class="fa-regular fa-calendar" style="position: absolute; right: 30px; bottom: 193px; font-size: large; color: #6c75a2;"></i>
                    <span asp-validation-for="Hannopcv" class="text-danger"></span>
                </div>
                <div class="form-group mt2">
                    <label asp-for="IdTtht" class="control-label">Trạng thái hiển thị
                        (<span style="color: red">*</span>)
                    </label>
                    <select asp-for="IdTtht" class="form-control mt1" asp-items="ViewBag.IdTtht" required></select>
                    <span asp-validation-for="IdTtht" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="IdTk" />
                <input type="hidden" asp-for="CreateAt" />
                <div class="form-group mt2">
                    @*<input type="submit" value="Lưu" class="btn btn-success" />*@
                    <button type="button" id="submitBtn" class="btn btn-success">Lưu</button>
                    <a class="btn btn-danger" asp-action="DSBTDNTD" asp-controller="NhaTuyenDung"> Huỷ</a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal xác nhận sửa -->
<div id="confirmModal" class="modal" aria-hidden="true">
    <div class="modal-content">
        <div class="display: flex; justify-content: end">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display: inline">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="title-warning">
            <i class="fa-solid fa-triangle-exclamation" style="font-size: 20pt"></i>
            <h3 style="margin-left: 10px !important" class="confirm-message">Bạn có chắc chắn muốn sửa?</h3>
        </div>
        <p class="mt2" style="font-size: 16pt; margin-left: 20px; margin-right: 20px">
            Thông tin bài tuyển dụng sẽ được sửa. Bạn chắc chắn muốn sửa bài tuyển dụng này này?
        </p>
        <div class="button-container">
            <button id="confirmBtn" class="confirm">
                Đồng ý
            </button>
            <button id="cancelBtn" class="cancel">Huỷ bỏ</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        var today = new Date(); // Lấy ngày hiện tại
        var dd = String(today.getDate()).padStart(2, '0'); // Lấy ngày
        var mm = String(today.getMonth() + 1).padStart(2, '0'); // Lấy tháng (lưu ý rằng tháng bắt đầu từ 0)
        var yyyy = today.getFullYear(); // Lấy năm
        var minDate = yyyy + '-' + mm + '-' + dd; // Định dạng ngày tháng năm
        $("#hannopcv").datepicker({
            minDate: minDate, // Chỉ cho phép chọn từ hôm nay trở đi
            dateFormat: 'yy-mm-dd', // Định dạng ngày: năm-tháng-ngày
            onSelect: function (dateText, inst) {
                var dateParts = dateText.split('-');
                var formattedDate = dateParts[2] + '-' + dateParts[1] + '-' + dateParts[0]; // Định dạng lại ngày tháng
                $("#hannopcv").val(formattedDate); // Hiển thị ngày tháng đã định dạng lại vào input
            }
        });
    });
</script>
<script>
    $('#submitBtn').click(function () {
        $('#confirmModal').modal('show');
    });

    $('#confirmBtn').click(function () {
        // Đóng modal xác nhận
        $('#confirmModal').modal('hide');
        $('#editForm').submit();
    });

    // Xử lý kết quả sau khi submit form
    $(function () {
        var messageType = '@ViewBag.MessageType';
        var message = '@ViewBag.Message';

        if (messageType !== '') {
            Swal.fire({
                icon: messageType,
                title: message,
                showConfirmButton: false,
                timer: 1500 //
            }).then(function () {
                // Chuyển hướng sau khi hiển thị thông điệp
                if (messageType === 'success') {
                    window.location.href = '@Url.Action("DSBTDNTD", "NhaTuyenDung")';
                }
            });
        }
    });
    // Xử lý sự kiện khi người dùng nhấn nút "Huỷ bỏ"
    $('#cancelBtn').click(function () {
        $('#confirmModal').modal('hide'); // Đóng modal xác nhận
    });
</script>

