@{
    ViewData["Title"] = "Job Seeker";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@using Microsoft.AspNetCore.Http

@{
    HttpContext context = ViewContext.HttpContext;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div>
    Trang người tìm việc
</div>
<div>
    Xin chào, @context.Session.GetString("Hoten")
</div>
<h3>Text viewbag: @ViewBag.Hoten</h3>
<div class="nav-item">
    <a asp-controller="Access" asp-action="DangXuat" class="nav-link"><i class="bx bx-log-out bx-rotate-180"></i> Đăng xuất</a>
</div>