@model DoAnNet7_2.Models.Taikhoan
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CaiDatTaiKhoanNTV";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}

<h1>CaiDatTaiKhoanNTV</h1>

