@model DoAnNet7_2.Models.Taikhoan
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "SuaTaiKhoanNTD";
    Layout = "~/Views/Shared/_LayoutNhaTuyenDung.cshtml";
}


<div class="border-content col-md-8">
    @await Html.PartialAsync("_SuaTaiKhoanPartial", Model)
</div>

