@{
    ViewData["Title"] = "NhaTuyenDung";
    Layout = "~/Views/Shared/_LayoutHome2.cshtml"; ;
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Http

<div class="row" style="justify-content: center">
    <div class="card-top col-md-8">
        Logo, số nhân viên
    </div>
    <div class="col-md-8">
        Địa chỉ
    </div>
    <div class="card-middle col-md-8">
        Mô tả
    </div>
    <div class="card-bottom col-md-8">
        Danh sách bài tuyển dụng chưa hết hạn và chưa bị ẩn
    </div>
</div>