@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutHome2.cshtml";
}

<div class="row" style="justify-content: center;flex-direction: column; margin-top: 30px; margin-bottom: 50px">
    <div class="col-md-10" style="align-self: center;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.2925439806236!2d105.80654967486228!3d21.02097748062643!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ab664ff92821%3A0xe31d49a941f8577d!2zOTEgxJAuIE5ndXnhu4VuIENow60gVGhhbmgsIFRow6BuaCBDw7RuZywgQmEgxJDDrG5oLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2s!4v1715632141807!5m2!1svi!2s" height="450" style="border:0;width: -webkit-fill-available;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade;"></iframe>
    </div>
    <div class="col-md-8" style="align-self: center;margin-top: 50px;color: #fff !important;">
        <div class="border-content" style="background-color: #3d89f7;width: -webkit-fill-available !important;padding: 50px !important;">
            <h3 style="color: #fff !important;">Liên hệ với chúng tôi nếu cần hỗ trợ</h3>
            <div class="row" style="align-items: center; margin-top: 30px">
                <div class="btn" style="background-color:#4d97fa;border-radius: 50% !important;">
                    <i class="fa-solid fa-map-location-dot"></i>
                </div>
                <div style="margin-left: 20px">
                    <b style="color: #fff !important;">Địa chỉ: </b> 91 Đ. Nguyễn Chí Thanh, Thành Công, Ba Đình, Hà Nội
                </div>
            </div>
            <div class="row" style="align-items: center">
                <div class="btn" style="background-color:#4d97fa;border-radius: 50% !important;">
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div style="margin-left: 20px">
                    <b style="color: #fff !important;">Số điện thoại: </b> 0123456789
                </div>
            </div>
            <div class="row" style="align-items: center">
                <div class="btn" style="background-color:#4d97fa;border-radius: 50% !important;">
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div style="margin-left: 20px">
                    <b style="color: #fff !important;">Email: </b> adminJobsWorld@gmail.com
                </div>
            </div>
        </div>
    </div>
</div>