@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div>
    Trang Index
</div>
<a asp-controller="Access" asp-action="DangNhap">Đăng nhập</a>
<div>Ngăn cách</div>
<a asp-controller="DangKy" asp-action="DangKy">Đăng ký</a>
