@model DoAnNet7_2.Models.ViewModels.TaiKhoanAnhViewModel

@if (Model != null)
{
    <img class="avatarAdmin" src="@Model.Tenanh" alt="anh-dai-dien">
    <div class="name-admin">
        <h3>@Model.Hoten</h3>
        <h4>Admin</h4>
    </div>
}

