@model X.PagedList.IPagedList<DoAnNet7_2.Models.Baituyendung>
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DSBaiTuyenDung";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .title-card {
        padding: 10px !important;
        border-left: 8px solid #feb696;
    }

    .pad-none {
        padding: 0 !important;
    }
</style>

<div class="border-content col-md-12 title-card ">
    <h4>Danh sách bài tuyển dụng</h4>
</div>
<div class="border-content col-md-12 mt2">


    <div class="row mt2" style="align-items: start">
@*        <p class="col-md-3 pad-none">
            <a class="btn btn-success" asp-controller="BaiTuyenDung" asp-action="ThemBTD">Thêm mới</a>
        </p>*@
        <form id="search-form" class="col-md-9 pad-none" style="display: flex; align-items: center">
            <input type="search" class="form-control" placeholder="Tên công việc, ngành nghề..." id="searchProducts">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </form>
    </div>


    <div id="btd_search">
        @Html.Partial("_DSBTDPartial", Model)
    </div>

</div>
<script>
    // Bắt sự kiện khi form submit
    $('#search-form').submit(function (event) {
        // Ngăn chặn hành vi mặc định của form submit
        event.preventDefault();

        // Lấy giá trị của input tìm kiếm
        var searchTerm = $('#searchProducts').val();

        // Gọi hàm loadData để gửi yêu cầu Ajax và cập nhật dữ liệu
        loadData(1, searchTerm);
    });


    function loadData(page, searchTerm) {
        $.ajax({
            url: "@Url.Action("DSBaiTuyenDung", "BaiTuyenDung")?page=" + page + "&searchTerm=" + searchTerm, // Đường dẫn đến hành động trong controller để lấy dữ liệu từ máy chủ
            type: 'GET', // Phương thức HTTP để lấy dữ liệu
            data: { page: page, searchTerm: searchTerm }, // Các tham số để truyền cho hành động lấy dữ liệu
            success: function (data) {
                $('#btd_search').html(data); // Cập nhật nội dung của bảng dữ liệu trong trang web
            }
        });
    }

</script>

